{% extends 'base.html' %}

{% block title %}
    Add New Resident
{% endblock %}

{% block content %}

    <div class="col-md-6 offset-md-3">
        <br>
        <br>
        <h1>New Resident</h1>
        <br><br>

        <form action="{% url 'add_record' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-text">Name</span>
                {{ form.first_name }}
                {{ form.last_name }}
              </div>
            

            <br>
            <button type="submit" class="btn btn-primary">Add Record</button>
        </form>

    </div>

{% endblock %}
