{% extends 'base.html' %}

{% block title %}
    Residents Account
{% endblock %}

{% block content %}

<div class="col-md-6 offset-md-3 container ">
    <br>
    <br>
    <h1>Residents</h1>
    

    {% if user.is_authenticated %}
      {% for record in records %}  

      <br>
      <div class="card mb-3" style="max-width: 540px;">
        <h5 class="card-header">{{ record.first_name }} {{record.last_name }}</h5>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="static/res_photo/{{ record.first_name }}.jpg" class="img-fluid rounded-start" alt="{{ record.first_name }} photo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              
              <p class="card-text">
                <strong>Section:</strong> &nbsp {{ record.section }}<br>
                <strong>History:</strong> &nbsp {{ record.med_background }}<br>
                <strong>Age:</strong> &nbsp {{ record.age }}
              </p>
              
              <a href="{% url 'records' record.id %}" class="btn btn-primary">View </a>
            </div>
          </div>
        </div>
      </div>
      
         <br>
      {% endfor %}

    {% else %}
      <h1>no records</h1>
    {% endif %}



    <br>
    <br>
    
    
        </div>
</div>

<br><br>
{% endblock %}