{% extends 'base.html' %}

{% block title %}
    Residents Account
{% endblock %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <br>
    <br>
    <h1>Residents</h1>
    <br><br>


    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card"  style="width: 18rem;">
            <img src="static/res_photo/John F.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">John Kennedy</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>


        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card"  style="width: 18rem;">
              <img src="static/res_photo/jaqueline.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Jaqueline Kennedy</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View</a>
              </div>
            </div>
        </div>
    </div>

    <br>
    <br>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card"  style="width: 18rem;">
                <img src="static/res_photo/ninoy.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ninoy Aquino</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
                </div>
            </div>
    
            
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card"  style="width: 18rem;">
                    <img src="static/res_photo/cory.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Corazon Aquino</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
    
        </div>
</div>

<br><br>
{% endblock %}